@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  z-index: 100;
}

.modal__content {
  background: white;
  padding: 15px 36px;
  border-radius: 8px;
  width: 380px;
  text-align: left;
}

.modal__close-btn {
  position: relative;
  background-image: url(../../assets/close.svg);
  bottom: 50px;
  left: calc(111%);
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.modal__title {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin: 0 0 24px 0;
  bottom: 10px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__submit {
  background-color: #1a73e8;
  color: white;
  font-size: 16px;
  padding: 12px;
  height: 64px;
  border-radius: 50px;
  border-style: none;
  cursor: pointer;
  margin-top: 16px;
}

.modal__register-btn,
.modal__login-btn {
  background: none;
  color: #1a73e8;
  font-size: 14px;
  margin-top: 8px;
  cursor: pointer;
  border: none;
}



.modal__label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(47, 113, 229, 1);
}

.modal__input {
  margin-top: 8px;
  padding: 10px;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  width: 93%;
  outline: none;
}

.modal__input:focus {
  border-bottom: 1px solid #333;
}

.modal__success-message {
  text-align: flex-start;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 0 0 20px 0;
}

.modal__sign-in-link {
  /* margin-top: 20px; */
  display: inline-block;
  padding: 10px 10px 10px 0;
  color: #007bff;
  background: transparent;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}



@media (max-width: 320px) {
  .modal_opened {
    height: 100vh;
    width: 100vw;
    animation: slideUp 0.4s ease-out forwards; 
    position: fixed;
    top: 40px;
    background: none;
    bottom: 0;
    left: 0;
    display: flex;
    
  }

  .modal__content{
    padding: 10px;
    height: 90vh;
    margin-right: auto;
    width: 320px;
  }

  .modal__close-btn{
    left: calc(93%);
    color: white;
    top: -50px;
    font-size: 24px;
  }

  .modal__title{
    bottom: 30px;
  }

 .modal__input{
  padding-left: 0;
  width: 280px;
 }

  .modal__label{
    position: relative;
    bottom: 30px;
  }

  .modal__submit{
    position: relative;
    bottom: 40px;
  }

  .modal__register-btn{
    position: relative;
    bottom: 50px;
  }
}

