.navigation {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  position: absolute;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 100;
  color: white;
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.2) inset;
}

.a {
  text-decoration: none;
}

.navigation__logo {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
  margin: 0 0 0 100px;
  color: white;
}

.navigation__menu-btn,
.navigation__close-btn {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.navigation__home-btn.saved-news {
  color: black;
}

.navigation__saved-btn.saved-news {
  color: black;
}

.navigation__saved-btn{
  color: white;
}

.navigation__mobile-menu {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  background: rgba(26, 27, 34, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  z-index: 7;
  animation: dropdown 0.3s ease forwards;
}

.nav-item {
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navigation__logo.nav-item::after {
  bottom: -28px;
}

.navigation__home-btn.nav-item::after {
  bottom: -31px;
}

.navigation__signin-btn.nav-item::after {
  bottom: -21px;
}

.navigation__saved-btn.nav-item::after {
  bottom: -31px;
}

.navigation__logout-btn.nav-item::after {
  bottom: -21px;
}

.nav-item:hover::after {
  width: 100%;
  left: 0;
  transform: translateX(0);
}

.saved-news.nav-item::after {
  background-color: black;
}

.navigation__mobile-menu-home,
.navigation__mobile-menu-saved {
  color: white;
  font-size: 18px;
  margin: 8px 16px;
  background: none;
  border: none;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

/* Desktop Buttons */
.navigation__buttons {
  display: flex;
  gap: 54px;
  align-items: center;
}

.navigation__logout-btn.saved-news {
  background-image: url(../../assets/logout.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-color: white;
  color: black;
  border-radius: 100px;
  height: 40px;
  justify-content: center;
  font-weight: 500;
  padding: 0 10px 0 15px;
  align-items: center;
  text-align: left;
  margin-right: 100px;
  width: 100px;
  border: 1px solid rgba(209, 210, 214, 1);
}

.navigation__logout-btn {
  background-image: url(../../assets/wlogout.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-color: transparent;
  color: white;
  border-radius: 100px;
  height: 40px;
  justify-content: center;
  font-weight: 500;
  padding: 0 10px 0 15px;
  align-items: center;
  text-align: left;
  margin-right: 100px;
  width: 100px;
  border: 1px solid rgba(209, 210, 214, 1);
}

.navigation__home-btn,
.navigation__signin-btn {
  text-decoration: none;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.navigation__signin-btn {
  margin-right: 115px;
  width: 152px;
  height: 40px;
  border-radius: 100px;
  opacity: 0px;
  border: 1px solid rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.navigation__saved-news {
  background-color: white;
  color: black;
  box-shadow: 0px -1px 0px 0px rgba(209, 210, 214, 1) inset !important;
}

.navigation__saved-news .navigation__logo,
.navigation__saved-news .navigation__menu-btn,
.navigation__saved-news .navigation__close-btn {
  color: black;
}

@media screen and (max-width: 728px) {
  .navigation {
    position: absolute;
    width: 100%;
    padding: 0;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    z-index: 100;
    color: white;
    box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  }

  .navigation__saved-news {
    background-color: white;
    color: black;
    box-shadow: 0px -1px 0px 0px rgba(209, 210, 214, 1) inset !important;
  }

  .navigation__saved-news .navigation__home-btn {
    color: black;
  }

  .navigation__logo {
    text-decoration: none;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .navigation__signin-btn {
    margin-right: 20px;
    width: 128px;
    height: 26px;
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    border-radius: 100px;
    opacity: 0px;
    border: 1px solid rgba(255, 255, 255, 1);
  }

  .navigation__buttons {
    align-items: center;
    gap: 16px;
    margin: 0;
  }

  .navigation__logout-btn{
    margin-right: 20px;
  }

  .navigation__logout-btn.saved-news{
    margin-right: 20px;
  }

  .navigation__home-btn.nav-item.saved-news{
    margin-right: 20px;
  }

  .navigation__menu-btn{
    margin-right: 10px;
  }
}


@media screen and (max-width: 320px) {
  .navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    z-index: 3;
    color: white;
    box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.2) inset;
    flex-shrink: 1;
  }

  .navigation__saved-news {
    background: white;
  }

  .navigation-open {
    background: rgba(26, 27, 34, 1);
  }

  .navigation__logo {
    font-size: 16px;
    margin-left: 16px;
    text-decoration: none;
  }

  .navigation__mobile-menu {
    position: absolute;
    top: 56px;
    left: 0;
    border-radius: 0 0 16px 16px;
    width: 100%;
    background: rgba(26, 27, 34, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    z-index: 200;
    animation: dropdown 0.3s ease forwards;
  }

  .navigation__menu-btn {
    margin-right: 8px;
  }

  .navigation__mobile-menu-signin {
    background: transparent;
    position: relative;
    color: white;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 1);
    height: 56px;
    width: 288px;
    margin: 16px;
  }

  .navigation__mobile-menu-home {
    width: 288px;
    height: 56px;
    align-items: center;

    display: flex;
  }
}

@keyframes dropdown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
